.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.test {
  left: auto !important;
  position: absolute !important;
  width: 100% !important;
  margin-top: -30px;
  font-weight: bold;
}

.test2 {
  position: relative !important;
  top: 100px !important;
  width: 100%;
}

table{
  width: 100%;
}
