<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mess2 Booked coupons (1st Floor)
      </mat-panel-title>
      <mat-panel-description>
        Press this to toggle
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="messUp">
    <button mat-flat-button color="warn" (click)="print()">Print Coupons</button>
    <br><br>
    <div id="print-section">
    <!-- Ground Floor Mess -->

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <span *ngFor="let val of messUp">
            <div id="yes">
            <table class="table" style="color:black">
                <thead class="table">
                    <h5>{{val.collegeId}}</h5>
                    <h5>{{val.name}}</h5>
                    <tr class="test">
                        <td>Day</td>
                        <td>BreakFast</td>
                        <td>Lunch</td>
                        <td>Dinner</td>
                    </tr>
                </thead>
                <tbody class="table test2">
                    <div *ngFor="let result of val.couponUpMess">
                      <tr *ngFor="let final of result.messup">
                        <td>{{final.day}}</td>
                        <td>{{final.breakfast}}</td>
                        <td>{{final.lunch}}</td>
                        <td>{{final.dinner}}</td>
                      </tr>
                    </div>
                    <h5> Total:- {{val.cost}}</h5>
                </tbody>
            </table><br>
            </div>
          </span>
        </div>
      </div>

    </div>
    </div>
    <!-- if no coupon-->
    <div *ngIf="message">
      <p style="color:white">{{message}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
