<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1 class="hovere">Register</h1></mat-card-title>
    <mat-card-subtitle>You need to register to book coupons</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="text-center">
    <form class="example-form">

          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="collegeId" name="collegeId" required autofocus placeholder="College id">
          </mat-form-field><br>

          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="name" name="name" maxlength="40" placeholder="Enter name" required>
          </mat-form-field><br>

          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="password" name="password" required placeholder="Enter password">
          </mat-form-field><br>

          <mat-radio-group name="sex" [(ngModel)]="sex" form="sex" class="example-full-width">
            <label for="">Please select your sex</label><br>
            <mat-radio-button class="example-margin" value="male" >Male</mat-radio-button><br>
            <mat-radio-button class="example-margin" value="female" >Female</mat-radio-button>
          </mat-radio-group><br>

          <button mat-raised-button color="primary" (click)="onRegisterSubmit()" class="buttonWidth">Register</button>

    </form>
  </mat-card-content>
</mat-card>
