<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1 class="hovere">Register</h1></mat-card-title>
    <mat-card-subtitle>You need to register to book coupons</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form">
      <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput type="email" [(ngModel)]="collegeId" name="collegeId" required autofocus placeholder="Enter your college Email">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="name" name="name" maxlength="40" placeholder="Enter your name" required>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="password" name="password" required placeholder="Enter your password">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
          <mat-radio-group name="sex" [(ngModel)]="sex" form="sex" class="example-full-width">
            <label for="">Please select your sex</label><br>
            <mat-radio-button class="example-margin" value="male" style="padding:10px;">Male</mat-radio-button>
            <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
          </mat-radio-group>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="onRegisterSubmit()" class="buttonWidth">Register</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
