<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <form (submit)="bookCoupon()" id="vegNon">
        <mat-accordion class="example-headers-align">

          <!-- see menu -->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Menu (Both Mess)
              </mat-panel-title>
              <mat-panel-description>
                Press this to see menu
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
              <h3 style="color:white;">Ground Floor mess menu</h3>
              <img src="https://user-images.githubusercontent.com/24803604/44617066-106f3480-a87a-11e8-882b-8e7d5bb205ee.jpeg" alt="" class="img-fluid">
            </div>
            <div class="row">
              <h3 style="color:white;">First Floor mess menu</h3>
              <img src="https://user-images.githubusercontent.com/24803604/44617088-912e3080-a87a-11e8-8219-333564479dad.jpeg" alt="" class="img-fluid">
            </div>
          </mat-expansion-panel><br><br>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Mess 1 (Ground Floor)
              </mat-panel-title>
              <mat-panel-description>
                Press this to toggle
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Ground Floor Mess -->
            <div class="jumbotron">
              <!-- Monday -->
              <h4 style="color:white;">Monday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                    <mat-radio-group [(ngModel)]="monBrVegNon" name = "monBrVegNon"  form="monBrVegNon" id="monBrVegNon" [disabled]="monBrVegNon1">
                      <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                      <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                      <a class="undo" (click)= "monBrVegNon = undefined">&otimes; clear </a>
                    </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "monLunVegNon" [(ngModel)]="monLunVegNon" form="monLunVegNon" [disabled]="monLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "monLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="monDinvegNon" [(ngModel)]="monDinvegNon" form="monDinvegNon" [disabled]="monDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "monDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Tuesday -->
              <h4 style="color:white;">Tuesday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "tuesBrVegNon" [(ngModel)]="tuesBrVegNon" form="tuesBrVegNon" [disabled]="tuesBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "tuesLunVegNon" [(ngModel)]="tuesLunVegNon" form="tuesLunVegNon" [disabled]="tuesLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="tuesDinvegNon" [(ngModel)]="tuesDinvegNon" form="tuesDinvegNon" [disabled]="tuesDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Wednesday -->
              <h4 style="color:white;">Wednesday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "wedBrVegNon" [(ngModel)]="wedBrVegNon" form="wedBrVegNon" [disabled]="wedBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "wedLunVegNon" [(ngModel)]="wedLunVegNon" form="wedLunVegNon" [disabled]="wedLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="wedDinvegNon" [(ngModel)]="wedDinvegNon" form="wedDinvegNon" [disabled]="wedDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Thursday -->
              <h4 style="color:white;">Thursday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "thuBrVegNon" [(ngModel)]="thuBrVegNon" form="thuBrVegNon" [disabled]="thuBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "thuLunVegNon" [(ngModel)]="thuLunVegNon" form="thuLunVegNon" [disabled]="thuLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="thuDinvegNon" [(ngModel)]="thuDinvegNon" form="thuDinvegNon" [disabled]="thuDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Friday -->
              <h4 style="color:white;">Friday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "friBrVegNon" [(ngModel)]="friBrVegNon" form="friBrVegNon" [disabled]="friBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "friLunVegNon" [(ngModel)]="friLunVegNon" form="friLunVegNon" [disabled]="friLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="friDinvegNon" [(ngModel)]="friDinvegNon" form="friDinvegNon" [disabled]="friDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Saturday -->
              <h4 style="color:white;">Saturday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "satBrVegNon" [(ngModel)]="satBrVegNon" form="satBrVegNon" [disabled]="satBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "satLunVegNon" [(ngModel)]="satLunVegNon" form="satLunVegNon" [disabled]="satLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="satDinvegNon" [(ngModel)]="satDinvegNon" form="satDinvegNon" [disabled]="satDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Sunday -->
              <h4 style="color:white;">Sunday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "sunBrVegNon" [(ngModel)]="sunBrVegNon" form="sunBrVegNon" [disabled]="sunBrVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunBrVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "sunLunVegNon" [(ngModel)]="sunLunVegNon" form="sunLunVegNon" [disabled]="sunLunVegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunLunVegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name = "sunDinvegNon" [(ngModel)]="sunDinvegNon" form="sunDinvegNon" [disabled]="sunDinvegNon1">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunDinvegNon = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

            </div>
          </mat-expansion-panel>

          <br><br>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Mess 2 (First floor)
              </mat-panel-title>
              <mat-panel-description>
                Press this to toggle
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- 1st Floor Mess -->
            <div class="jumbotron">
              <!-- Monday -->
              <h4 style="color:white;">Monday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                    <mat-radio-group [(ngModel)]="monBrVegNon1" name = "monBrVegNon1"  form="monBrVegNon1" [disabled]="monBrVegNon">
                      <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                      <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                      <a class="undo" (click)= "monBrVegNon1 = undefined;">&otimes; clear </a>
                    </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "monLunVegNon1" [(ngModel)]="monLunVegNon1" form="monLunVegNon1" [disabled]="monLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "monLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="monDinvegNon1" [(ngModel)]="monDinvegNon1" form="monDinvegNon1" [disabled]="monDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "monDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Tuesday -->
              <h4 style="color:white;">Tuesday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "tuesBrVegNon1" [(ngModel)]="tuesBrVegNon1" form="tuesBrVegNon1" [disabled]="tuesBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "tuesLunVegNon1" [(ngModel)]="tuesLunVegNon1" form="tuesLunVegNon1" [disabled]="tuesLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="tuesDinvegNon1" [(ngModel)]="tuesDinvegNon1" form="tuesDinvegNon1" [disabled]="tuesDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "tuesDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Wednesday -->
              <h4 style="color:white;">Wednesday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "wedBrVegNon1" [(ngModel)]="wedBrVegNon1" form="wedBrVegNon1" [disabled]="wedBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "wedLunVegNon1" [(ngModel)]="wedLunVegNon1" form="wedLunVegNon1" [disabled]="wedLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="wedDinvegNon1" [(ngModel)]="wedDinvegNon1" form="wedDinvegNon1" [disabled]="wedDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "wedDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Thursday -->
              <h4 style="color:white;">Thursday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "thuBrVegNon1" [(ngModel)]="thuBrVegNon1" form="thuBrVegNon1" [disabled]="thuBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "thuLunVegNon1" [(ngModel)]="thuLunVegNon1" form="thuLunVegNon1" [disabled]="thuLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="thuDinvegNon1" [(ngModel)]="thuDinvegNon1" form="thuDinvegNon1" [disabled]="thuDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "thuDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Friday -->
              <h4 style="color:white;">Friday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "friBrVegNon1" [(ngModel)]="friBrVegNon1" form="friBrVegNon1" [disabled]="friBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "friLunVegNon1" [(ngModel)]="friLunVegNon1" form="friLunVegNon1" [disabled]="friLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="friDinvegNon1" [(ngModel)]="friDinvegNon1" form="friDinvegNon1" [disabled]="friDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "friDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Saturday -->
              <h4 style="color:white;">Saturday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "satBrVegNon1" [(ngModel)]="satBrVegNon1" form="satBrVegNon1" [disabled]="satBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "satLunVegNon1" [(ngModel)]="satLunVegNon1" form="satLunVegNon1" [disabled]="satLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name="satDinvegNon1" [(ngModel)]="satDinvegNon1" form="satDinvegNon1" [disabled]="satDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "satDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

              <!-- Sunday -->
              <h4 style="color:white;">Sunday</h4>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>BreakFast</p>
                  <mat-radio-group name = "sunBrVegNon1" [(ngModel)]="sunBrVegNon1" form="sunBrVegNon1" [disabled]="sunBrVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunBrVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Lunch</p>
                  <mat-radio-group name = "sunLunVegNon1" [(ngModel)]="sunLunVegNon1" form="sunLunVegNon1" [disabled]="sunLunVegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunLunVegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <p>Dinner</p>
                  <mat-radio-group name = "sunDinvegNon1" [(ngModel)]="sunDinvegNon1" form="sunDinvegNon1" [disabled]="sunDinvegNon">
                    <mat-radio-button class="example-margin" value="veg">veg</mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="nonVeg">non Veg</mat-radio-button><br>
                    <a class="undo" (click)= "sunDinvegNon1 = undefined">&otimes; clear </a>
                  </mat-radio-group>
                </div>
              </div><br>

            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br><br>
        <input type="submit" name="submitButton" #submitButton class="btn btn-success" value="Submit">
      </form>
    </div>
  </div>
</div>
