.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.test {
  left: auto !important;
  position: absolute !important;
  width: 100% !important;
  font-weight: bold;
}

.test2 {
  position: relative !important;
  top: 100px !important;
  width: 100%;
  height: 10px !important;
}

.brick {
  width: 50%;
  margin-right: 0px !important;
}
