<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mess1 Booked coupons (Ground Floor)
      </mat-panel-title>
      <mat-panel-description>
        Press this to toggle
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="messDown">
      <button mat-flat-button color="warn" (click)="print()">Print Coupons</button>
      <br><br>

      <!-- Ground Floor Mess -->
      <ngx-masonry>
        <div id="print-section1">
          <ngxMasonryItem class="brick" *ngFor="let val of messDown">
            <table style="color:black; width:100% !important;" id="messDownTable">
              <tr class="test">
                <th>Day</th>
                <th>BreakFast</th>
                <th>Lunch</th>
                <th>Dinner</th>
              </tr><br><br>
              <tr>
                <div *ngFor="let result of val.couponDownMess">
                  <strong style="font-size:21px;">{{val.name}}</strong>
              <tr *ngFor="let final of result.messdown">
                <td><strong>{{final.day}}</strong></td>
                <span *ngIf="final.breakfast">
                            <td>{{final.breakfast}}</td>
                          </span>
                <span *ngIf="!final.breakfast">
                            <td>***</td>
                          </span>
                <span *ngIf="final.lunch">
                            <td>{{final.lunch}}</td>
                          </span>
                <span *ngIf="!final.lunch">
                            <td>***</td>
                          </span>
                <span *ngIf="final.dinner">
                            <td>{{final.dinner}}</td>
                          </span>
                <span *ngIf="!final.dinner">
                            <td>***</td>
                          </span>
              </tr>
        </div>
        <strong style="font-size:21px;">Mess 1(ground)</strong>
        <span style="font-size:21px;"> {{val.collegeId}}({{val.gender.slice(0,1).toUpperCase()}})  <strong>Total:-</strong> {{val.cost}} Rs</span><br>
        </tr>
        </table>
        <br><br>
        </ngxMasonryItem>
    </div>
    </ngx-masonry>
    </div>
    <!-- if no coupon-->
    <div *ngIf="message">
      <p style="color:white">{{message}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
