<!-- not logged in -->

<div *ngIf="!authService.loggedIn()">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12">
        <mat-card>
          <mat-card-header>

          </mat-card-header>
          <mat-card-content>
            <h1 class="cardColour text-center">Welcome to IIIT Rosei</h1>
            <p class="text-center">This app is made by contributors of <a href="https://github.com/p-society/" target="_blank" mat-button color="accent">P-society</a>
              and would request you the follow some guidelines listed below.</p>

                <span class="listColur">
                  <p>
                    This site is hosted on glitch and being a free service, it takes time of about 1 minute to wake the application if no traffic is there on server.
                  </p>
                </span>

                <span class="listColur">
                  <p>
                    A lot of effort is put to make this application, so please don't act smart and try to register with other than your college ID.
                  </p>
                </span>

                <span class="listColur">
                  <p>
                    We do not have any funds but still for your convenience we have hosted it on a server and using
                    premium email service to provide better user experience in case you forget your password or didn't recieve an activation email.
                  </p>
                </span>

                <span class="listColur">
                  <p>
                    Use the application responsibly and if you face any problem other than slow loading for first time, then you can
                    open an issue on our <a href="https://github.com/p-society/Online_Rosie_FrontEnd" color="accent" mat-button target="_blank">P-society Github repository.</a>
                  </p>
                </span>

          </mat-card-content>
          <mat-card-actions class="text-center">
            <a mat-raised-button color="primary" href="login">Login</a>
            <a href="register" mat-button color="accent">Register</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- when logged in -->

<div *ngIf="authService.loggedIn() && user">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12">
        <mat-card>
          <mat-card-header>

          </mat-card-header>
          <mat-card-content>
            <h1 class="cardColour text-center">Yep, now you can book coupons</h1>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <a mat-raised-button color="primary" href="bookCoupon">Book Coupon</a>
            <a href="profile" mat-button color="accent">See your booked coupon</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
