<div *ngIf="user">
<h1 class="hovere">{{user.collegeId}}'s Profile</h1>
<hr>
  <div class="jumbotron profileCard">
    <h3 class="profileCard">Email : <span style="font-size:14px;"> {{user.email}}</span></h3>

    <div *ngIf="user">
      <div class="well">
        <a href="setting" class="btn btn-success" onmousedown="return false">Update Profile</a>
      </div>
    </div>
    <br/>
  </div>

  <h1 style="color:white">Your coupon this week</h1>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mess1 (Ground Floor)
        </mat-panel-title>
        <mat-panel-description>
          Press this to toggle
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Ground Floor Mess -->
      <div class="jumbotron">
        <table mat-table [dataSource]="messDown" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef> Day </th>
            <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>

          <ng-container matColumnDef="breakfast">
            <th mat-header-cell *matHeaderCellDef> BreakFast </th>
            <td mat-cell *matCellDef="let element"> {{element.breakfast}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>


          <ng-container matColumnDef="lunch">
            <th mat-header-cell *matHeaderCellDef> Lunch </th>
            <td mat-cell *matCellDef="let element"> {{element.lunch}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>


          <ng-container matColumnDef="dinner">
            <th mat-header-cell *matHeaderCellDef> Dinner </th>
            <td mat-cell *matCellDef="let element"> {{element.dinner}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          <td mat-footer-cell *matFooterCellDef> {{costDown}} </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>

      </div>
    </mat-expansion-panel>

    <br><br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mess 2 (First floor)
        </mat-panel-title>
        <mat-panel-description>
          Press this to toggle
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- 1st Floor Mess -->
      <div class="jumbotron">
        <table mat-table [dataSource]="messUp" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef> Day </th>
            <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>

          <ng-container matColumnDef="breakfast">
            <th mat-header-cell *matHeaderCellDef> BreakFast </th>
            <td mat-cell *matCellDef="let element"> {{element.breakfast}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>


          <ng-container matColumnDef="lunch">
            <th mat-header-cell *matHeaderCellDef> Lunch </th>
            <td mat-cell *matCellDef="let element"> {{element.lunch}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>


          <ng-container matColumnDef="dinner">
            <th mat-header-cell *matHeaderCellDef> Dinner </th>
            <td mat-cell *matCellDef="let element"> {{element.dinner}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          <td mat-footer-cell *matFooterCellDef> {{costUp}} </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
