.profileCard{
  background-color: #2c2c2c;
  color: #F1F8FE;
}

.hovere{
  cursor: pointer;
  color: white
}


table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
